#frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 654px;
    min-height: 416px;
    font-size: medium;
}

.half-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    min-width: 30px;
}


.half-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* .note:hover .note_text {
    display: flex;
}

.note:hover .comment {
    display: none;
} */

.note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #eee;
    border-radius: 10px;
    max-height: 25px;
    padding: 10px 10px 10px 10px;
    margin: 5px;
}

.note:hover{
    background-color: #ddd;
}

.note:hover .delete_note_button{
    display: block;
}

.note:hover .edit_note_button{
    display: block;
}

.note_text {
    display: none;
    white-space: nowrap;
    color: #787777;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 550px;
}

.icon_copy{
    margin-right: 5px;
}

.delete_note_button{
    display: none;
    margin-left: 5px;
}

.delete_note_button:hover{
    background-color: #ff4643;
    border-radius: 25%;
}

.modal_dialog {
    border: none;
    border-radius: 10px;
}

.edit_note_button{
    display: none;
    margin-left: 5px;
}

.edit_note_button:hover{
    background-color: #00ff8c;
    border-radius: 25%;
}

.edit_fields {
    display: flex;
    flex-direction: column;
}

.edit_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.edit_button {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    border: none;
}

.edit_button:hover {
    cursor: pointer;
    background-color: #6f6f6f;
}

.edit_button_apply:hover {
    background-color: #00ff8c;
}

.edit_input {
    background-color: #eee;
    border-radius: 10px;
    max-height: 25px;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    border: none;
}

#delete_all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #eee;
    border-radius: 10px;
    max-height: 25px;
    padding: 10px 10px 10px 10px;
    margin: 5px;
}

#delete_all:hover{
    background-color: #ff4643;
}
